<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="/lib/angular/angular.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>10,000 Tut</title>
  </head>
  <body>
    <div ng-controller="MainController as main">

      <input type="text" ng-model="main.data[0]" placeholder="enter your name">
      <pre>Hello {{ main.data[0] }} </pre>
      <pre>{{ main.reverse(main.data[0]) }} olleH</pre>

      <br>
      <hr>
      <br>

      <a ng-click="showList = !showList">Show the list</a>
      <pre ng-show="showList" ng-repeat="str in main.data" ng-click="main.remove()" ng-class="{
        red: main.data.length % 2 === 0,
        green: main.data.length % 2 !== 0 
      }">{{ str }}</pre>
    </div>
    <br>
    <hr>
    <br>
    <div ng-controller="LinkController as link">
      <!-- put input field and a link to go to whatever href is typed into the field -->
      <input type="text" ng-model="link.link">
      <a ng-href="{{ link.link }}">CLICK TO GO</a>
    </div>

    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
  </body>
</html>